### Mango Db with Python- Querying Json Documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://localhost:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
        'firstname':'Angadi',
        'lastname':'Mohammad Sadiq',
        'department':'Analytics',
        'qualification':'CSE(AI-ML)',
        'age':29
        }
empinfo.insert_one(record)

InsertOneResult(ObjectId('6622b5a59719e48bb44d212a'), acknowledged=True)

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [4]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('6622b5b89719e48bb44d212b'), ObjectId('6622b5b89719e48bb44d212c'), ObjectId('6622b5b89719e48bb44d212d'), ObjectId('6622b5b89719e48bb44d212e')], acknowledged=True)

In [5]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('66227ff2a450c325e7c55ac2'),
 'firstname': 'Angadi',
 'Middlename': 'Mohammad',
 'Lastname': 'Sadiq',
 'Department': 'CSE(AI/ML)'}

In [8]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('66227ff2a450c325e7c55ac2'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('66228204a450c325e7c55ac6'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('66228204a450c325e7c55ac7'), 'firstname': 'Danish', 'Middlename': 'Shaikh', 'Lastname': 'Irfan', 'Department': 'CSE'}
{'_id': ObjectId('66228204a450c325e7c55ac8'), 'firstname': 'Kumar', 'Middlename': 'Shivraj', 'Lastname': 'Bhakat', 'Department': 'Mech'}
{'_id': ObjectId('6622b5a59719e48bb44d212a'), 'firstname': 'Angadi', 'lastname': 'Mohammad Sadiq', 'department': 'Analytics', 'qualification': 'CSE(AI-ML)', 'age': 29}
{'_id': ObjectId('6622b5b89719e48bb44d212b'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('6622b5b89719e48bb44d212c'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('6622b5b89719e48bb44d212d'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6622b5b89719e48bb44d212e'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [9]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Angadi'}):
    print(record)

{'_id': ObjectId('66227ff2a450c325e7c55ac2'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('66228204a450c325e7c55ac6'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('6622b5a59719e48bb44d212a'), 'firstname': 'Angadi', 'lastname': 'Mohammad Sadiq', 'department': 'Analytics', 'qualification': 'CSE(AI-ML)', 'age': 29}

In [10]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('6622b5b89719e48bb44d212d'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6622b5b89719e48bb44d212e'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [15]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('6622b5b89719e48bb44d212e'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [16]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Angadi'},{'qualification':'CSE(AI-ML)'}]}):
    print(record)

{'_id': ObjectId('66227ff2a450c325e7c55ac2'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('66228204a450c325e7c55ac6'), 'firstname': 'Angadi', 'Middlename': 'Mohammad', 'Lastname': 'Sadiq', 'Department': 'CSE(AI/ML)'}
{'_id': ObjectId('6622b5a59719e48bb44d212a'), 'firstname': 'Angadi', 'lastname': 'Mohammad Sadiq', 'department': 'Analytics', 'qualification': 'CSE(AI-ML)', 'age': 29}

In [17]:
inventory=mydb.inventory

In [18]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [19]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('66229ef9f609e54602061a1a'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('6622b71f9719e48bb44d212f'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}